/* to hide the icons */
footer.tweet-footer ul.tweet-actions{
    visibility: hidden;
    margin-left:40%;
}
footer.tweet-footer:hover ul.tweet-actions{
    visibility: visible;
}


li.tweet-action-item{
}

.link-complex-target{
}
